@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display&display=swap');

* { box-sizing: border-box }

body {
  font-family: "Noto Sans Display", sans-serif;
  background-color: #000000;
  color: #ffffff;
  box-sizing: border-box;
}

.userIcon {
  font-size: 30px;
  color: #22a2f8;
  border: 4px solid #1A8CD8;
  border-radius: 50%;
  padding: 15px;
  margin: auto 10px;
  cursor: pointer;
  width: 79px;
  height: 79px;
}

.headerContainer {
  font-size: 30px;
  border-bottom: 5px solid #1E2125;
  padding: 20px;

  a {
      color: white;
      cursor: pointer;
      text-decoration: none;
  }

  .right {
    float: right;

    a {
      font-size: 20px;
      margin-left: 10px;
      padding: 15px;
      background-color: #000000;
      color: white;
      cursor: pointer;
      border-radius: 10px;
      text-decoration: none;
  
      &:hover {
        background-color: #1E2125;
      }
    }
    .username {
      font-size: 20px;

      .userIcon {
        font-size: 20px;
        height: auto;
        width: auto;
        border: 2px solid #1A8CD8;
      }
    }

    .logoutButton {
      background-color: #31A1F2;
      color: white;
      border: none;
      border-radius: 20px;
      padding: 10px;
      margin: auto 10px;
      cursor: pointer;

      &:hover {
        background-color: #2187cf;
      }
    }

  }
  
}

.messagesContainer {
  text-align: center;

  .messageContainer {
    margin: 10px 25% 10px 25%;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 20px;

    .messageTitle {
      font-size: 24px;
      font-weight: bold;
    }

  }

  .messageFooter {

    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
      display: flex;
    
      .userNames {
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        margin-left: 10px;
    
        .fullName {
          font-weight: 600;
        }
    
        .username {
          color: rgb(99, 99, 99);
        }
      }
    }

    .messageTimestamp {
        display: flex;
        justify-content: flex-end;
    }
  }

  .messageFooter {
    display: flex;
  }
}

.loginForm, .signUpForm, .newMessageForm {
  text-align: center;
  .logo {
    font-size: 50px;
  }

  .title {
    font-size: 25px;
  }

  input {
    border: none;
    border-radius: 20px;
    margin: 10px;
    font-size: 16px;
    padding: 15px;
    width: 40%;
  }

  .invalidInput {
    border: 5px solid red;
  }

  .invalidInputText {
    color: red;
  }

  button {
    background-color: #31A1F2;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    padding: 15px;
    margin: 10px;
    width: 40%;
    cursor: pointer;
  }

  textarea {
    border: none;
    border-radius: 20px;
    padding: 15px;
    width: 40%;
    resize: vertical;
    font-size: 16px;
    font-family: "Noto Sans Display", sans-serif;


    &:focus {
      outline: none;
    }
  }
}

.iconOptions {
  display: flex;
  justify-content: center;

  .userIcon {
    color: gray;
    border-color: gray;

    

    &:hover {
      color: #22a2f8;
      border-color:#1A8CD8;
    }
  }

  .selected {
    color: #22a2f8;
    border-color:#1A8CD8;
  }
}